.postItemContainer {
  width: 100%;
  border: 1px solid #000;
  padding: 1rem;
  overflow-wrap: break-word;
  white-space: pre-wrap;
}

.postItemContainer a {
  color: teal;
  text-decoration: underline;
}

.postItemContainer:not(:first-child) {
  margin-top: 1rem;
}

.buttonArea {
  display: block;
  text-align: right;
  margin-top: 1rem;
}